@charset "utf-8";
/* CSS Document */

/*  GLOBAL  */
body {
  background-image: url('../images/background-image.jpg');
  font-family: 'Montserrat', sans-serif;
}
html {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  margin: 70px;
}
/* LOGO */
.logo {
  background-color: black;
  border-radius: 50%;
  height: 50px;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 50px;
}
.logo-text {
  color: white;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}
/* SIDE MENUS */
.contact-bar {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.social-bar {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.contact-bar a, .social-bar a {
  background-color: black;
  border-radius: 0%;
  display: block;
  height: 50px;
  margin: 10px;
  text-align: center;
  transition: all 0.3s ease;
  width: 50px;
}
.contact-bar i, .social-bar i {
  color: white;
  font-size: 20px;
  line-height: 50px;
}
.contact-bar::after, .contact-bar::before, .social-bar::after, .social-bar::before {
  background-color: black;
  content: '';
  display: block;
  height: 30px;
  width: 1px;
  margin: auto;
}
.contact-bar a:hover, .social-bar a:hover {
  background-color: #616161;
  border-radius: 100%;
  color: white;
}
/* ABOUT */
.greeting {
  bottom: 0;
  font-size: 45vh;
  font-weight: 600;
  line-height: 25vh;
  opacity: 0.07;
  position: fixed;
  top: 0;
  transform: rotate(-90deg) translate(-50%, 50%);
  transform-origin: 0 50%;
  z-index: -99;
}
.name {
  font-size: 50px;
  font-weight: 600;
  grid-column: 1 / span 4;
  grid-row: 1;
  text-align: left;
}
.title {
  font-size: 30px;
  font-weight: 500;
}
.about {
  font-size: 30px;
  font-weight: 500;
}
/* PORTFOLIO */
.psychic-game {
  background-color: blue;
  color: white;
}
.psychic-game a {
  background-color: black;
  color: white;
  text-decoration: none;
}
.game-collector {
  background-color: red;
  color: white;
}
.game-collector a {
  background-color: black;
  color: white;
  text-decoration: none;
}
