@charset "utf-8";
/* CSS Document */

/*  GLOBAL  */
.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}
.grid-item {
  grid-column: 1 / span 5;
  text-align: center;
}
body, html {
  color: black;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
  font-weight: normal;
}
h3 {
  font-size: 20px;
  font-weight: thin;
}
/*    NAVIGATION    */
#logo {
  max-height: 50px;
  max-width: 50px;
}
.nav {
  margin: 50px;
}
/*    SOCIAL LINKS    */
#githubIcon {
  background-color: #D50000;
  color: white;
  right: 130px;
}
#linkedinIcon {
  background-color: #FFD600;
  color: black;
  right: 70px;
}
#mailIcon {
  background-color: #2962FF;
  color: white;
  right: 10px;
}
.social a {
  position: fixed;
  top: -2000px;
  transition: 0.3s;
  padding: 20px;
  height: 2000px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  border-radius: 0px 0px 10px 10px;
}
.social a:hover {
  top: 0;
}
/*      PORTFOLIO LINKS        */
.grid-item-1 a,
.grid-item-2 a,
.grid-item-3 a,
.grid-item-4 a,
.grid-item-5 a {
  border-radius: 0px 40px 40px 0px;
  color: white;
  left: -2000px;
  padding: 20px;
  position: fixed;
  text-decoration: none;
  transition: 0.3s;
  width: 2000px;
}
.grid-item-1 a:hover,
.grid-item-2 a:hover,
.grid-item-3 a:hover,
.grid-item-4 a:hover,
.grid-item-5 a:hover {
  left: 0;
}
#psychicGame {
  top: 400px;
  background-color: #673AB7;
}
#gameCollector {
  top: 460px;
  background-color: #2196F3;
}
#triviaGame {
  top: 520px;
  background-color: #E91E63;
}
#gifTastic {
  top: 580px;
  background-color: #4CAF50;
}
#trainScheduler {
  top: 640px;
  background-color: #FF9800;
}
